apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: controlepedidos-hpa
  namespace: controle-pedidos
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: controlepedidos
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60 #60% of the cpu usage
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70 #70% of the cpu usage
